*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/021/599/588/non_2x/abstract-white-and-gray-overlap-circles-background-3d-paper-circle-banner-with-drop-shadows-minimal-simple-design-for-presentation-flyer-brochure-website-book-etc-vector.jpg);
    margin: 0;
    padding: 0;
}
h1{
    background-color: #002333;
    opacity: 80%;
    color: #DEEFE7;
    padding: 10px;
    text-align: center;
    font-size: 200%;
}
p{
    padding: 20px ;
    font-size: 15px;
}
.photo{
    max-width: 3000px;
    height: 50px;
    margin: 20px;
    background: url(https://sujalg1309.github.io/Keyforyourlife/Sujal1.png);
    background-size: cover;
    transition: height 3s;
}
.photo:nth-child(2){
    height: 70px;
    background: url(https://sujalg1309.github.io/Keyforyourlife/Sujal2.png);
    background-size: cover;
}
.photo:nth-child(3){
    height: 60px;
    background: url(https://sujalg1309.github.io/Keyforyourlife/Sujal3.png);
    background-size: cover;
}
.photo:hover{

    height: 360px;

}


h2{
    margin: 20px;
}
    .social-icons ul {
        margin: 20px;
        padding: 0px;
    }

    .social-icons ul li {
        list-style: none;
        text-align: center;
        display: inline-block;
    }

    .social-icons ul li a {
        width: 50px;
        height: 50px;
        margin: 10px 5px;
        background-color: #4e4e4e;
        text-decoration: none;
        border-radius: 50%;
        display: block;
    }

    .social-icons ul li a i {
        cursor: pointer;
        color: #ffffff;
        line-height: 50px;
        font-size: 22px;
        transition: all 0.4s;
    }

    .social-icons a:hover i {
        color: #ffeb3b;
        font-size: 28px;
    }


@media (min-width:979.81px) {
   .photo:hover{
       height:950px;
   }
}



.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
/* Import Google font - Poppins */



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');



/*.bg {

    height: 100vh;

    background: #E3F2FD;



}*/

.popup {

  height: 100vh;

  position: absolute;

  left: 50%;

  top: -25%;

  z-index: 1000;

  visibility: hidden;

  width: 490px;

  border-radius: 5px;

  padding: 13px 17px 20px;

  background: #fff;

  display: flex;

  border-top: 3px solid #EA4D67;

  transform: translateX(-50%);

  box-shadow: 0 10px 25px rgba(52,87,220,0.1);

  transition: all 0.25s ease;

}

.popup.show {

  top: 0;

  visibility: visible;

}

.popup.online {

  border-color: #2ECC71;

}

.popup .icon i {

  width: 40px;

  height: 40px;

  display: flex;

  color: #fff;

  margin-right: 15px;

  font-size: 1.2rem;

  align-items: center;

  justify-content: center;

  border-radius: 50%;

  background: #EA4D67;

}

.popup.online .icon i {

  background: #2ECC71;

}

.popup .title {

  font-size: 1.2rem;

}

.popup .desc {

  color: #474747;

  margin: 3px 0 10px;

  font-size: 1.04rem;

}

.popup .reconnect {

  border: none;

  outline: none;

  color: #fff;

  cursor: pointer;

  font-weight: 500;

  font-size: 0.95rem;

  padding: 8px 13px;

  border-radius: 4px;

  background: #5372F0;

}

.popup.online .reconnect {

  background: #bfbfbf;

  pointer-events: none;

}



@media screen and (max-width: 550px) {

  .popup {

    width: 100%;

    padding: 10px 15px 17px;

  }
 }
